<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, viewport-fit=cover"
/>
<meta name="author" content="George W. Park" />
<meta name="description" content="Using React to fetch and filter free-to-play games retrieved from the FreeToGame API." />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
